body{
	background-color: #3c7eff;
	font-family: Helvetica;
	margin: 0;
	animation-name: bgColor-time-change;
	animation-duration: 20s;
  
	animation-fill-mode: forward;
  
	animation-iteration-count: infinite;  
}

*:hover{
  color: bisque;
}

.collection-4:hover{
  color: bisque;
}

.ellipse-10:hover{
  color: bisque;
}

.frame-5,
.frame-5 * {
  box-sizing: border-box;
}
.frame-5 {
  background: #ffffff00;
  width: 1440px;
  height: 784px;
  position: relative;
  overflow: hidden;
}
._2023-andy-zhao {
  color: #ffffff;
  text-align: center;
  font: 400 10px "Ugly Dave", sans-serif;
  position: absolute;
  left: 677px;
  top: 767px;
  width: 85px;
  height: 13px;
}
.collection-4 {
  color: #ffffff;
  text-align: center;
  font: 400 32px "Ugly Dave", sans-serif;
  position: absolute;
  left: 587px;
  top: 24px;
  width: 265px;
  height: 55px;
}
.ellipse-7 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 123.64px;
  top: 143.68px;
}
.ellipse-8 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 123.64px;
  top: 215.02px;
}
.ellipse-9 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 205.68px;
  top: 215.02px;
}
.ellipse-10 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 244.91px;
  top: 190.58px;
}
.ellipse-11 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 181.23px;
  top: 166.14px;
}
.ellipse-12 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 300.73px;
  top: 166.14px;
}
.ellipse-13 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 413.09px;
  top: 131.46px;
}
.ellipse-14 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 509.39px;
  top: 215.02px;
}
.ellipse-15 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 484.95px;
  top: 347px;
}
.ellipse-16 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 413.09px;
  top: 275.66px;
}
.ellipse-17 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 372.07px;
  top: 300.1px;
}
.ellipse-18 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 372.07px;
  top: 239.46px;
}
.ellipse-19 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 762px;
  top: 251.22px;
}
.ellipse-20 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 799.45px;
  top: 347px;
}
.ellipse-21 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 762px;
  top: 347px;
}
.ellipse-22 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 762px;
  top: 379.78px;
}
.ellipse-23 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 774.22px;
  top: 404.22px;
}
.ellipse-24 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 823.89px;
  top: 455.94px;
}
.ellipse-42 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1276.42px;
  top: 490.04px;
}
.ellipse-56 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1358.12px;
  top: 199.55px;
}
.ellipse-61 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1132.82px;
  top: 150.67px;
}
.ellipse-49 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1219.15px;
  top: 347px;
}
.ellipse-25 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 664.78px;
  top: 455.94px;
}
.ellipse-43 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1117.3px;
  top: 490.04px;
}
.ellipse-57 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1199.01px;
  top: 199.55px;
}
.ellipse-62 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1020.54px;
  top: 264.36px;
}
.ellipse-50 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1060.04px;
  top: 347px;
}
.ellipse-26 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 620.19px;
  top: 511.23px;
}
.ellipse-44 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1072.71px;
  top: 545.33px;
}
.ellipse-51 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1015.45px;
  top: 402.28px;
}
.ellipse-27 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 587px;
  top: 511.23px;
}
.ellipse-33 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 484.95px;
  top: 602.23px;
}
.ellipse-34 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 347.63px;
  top: 577.79px;
}
.ellipse-35 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 269.35px;
  top: 668.63px;
}
.ellipse-36 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 312.95px;
  top: 680.85px;
}
.ellipse-37 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 300.73px;
  top: 638.89px;
}
.ellipse-38 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 276.29px;
  top: 590.01px;
}
.ellipse-39 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 230.12px;
  top: 492.6px;
}
.ellipse-40 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 193.46px;
  top: 443.72px;
}
.ellipse-41 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 193.46px;
  top: 499.01px;
}
.ellipse-28 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 599.22px;
  top: 468.16px;
}
.ellipse-29 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 664.78px;
  top: 544.85px;
}
.ellipse-45 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1117.3px;
  top: 578.95px;
}
.ellipse-52 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1060.04px;
  top: 435.91px;
}
.ellipse-30 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 695.56px;
  top: 557.07px;
}
.ellipse-46 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1148.08px;
  top: 591.17px;
}
.ellipse-53 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1090.82px;
  top: 448.13px;
}
.ellipse-58 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1172.52px;
  top: 157.64px;
}
.ellipse-63 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 947.22px;
  top: 108.76px;
}
.ellipse-31 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 774.22px;
  top: 557.22px;
}
.ellipse-47 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1226.74px;
  top: 591.32px;
}
.ellipse-54 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1169.48px;
  top: 448.28px;
}
.ellipse-59 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1251.18px;
  top: 157.79px;
}
.ellipse-64 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1072.71px;
  top: 222.6px;
}
.ellipse-32 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 762px;
  top: 614.45px;
}
.ellipse-48 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1214.52px;
  top: 648.55px;
}
.ellipse-55 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1157.26px;
  top: 505.5px;
}
.ellipse-60 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1238.96px;
  top: 215.02px;
}
.ellipse-65 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24.44px;
  height: 24.44px;
  position: absolute;
  left: 1060.49px;
  top: 279.83px;
}

/* Apply styles when the mouse is over the .hover-element */
.hover-element:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer; /* Change the cursor to a pointer */
  transform: scale(1.1); /* Scale the element on hover */
  transition: all 0.3s ease; /* Add a smooth transition effect */
}

/* @keyframes bg-change {
  from {background-color: red;}
  to {background-color: #8952ff;}
} */

@keyframes bgColor-time-change {
  0%   {background-color: rgb(230, 169, 201);}
  25%  {background-color: rgb(235, 194, 123);}
  50%  {background-color: rgb(137, 130, 221);}
  75%  {background-color: rgb(126, 174, 126);}
  100% {background-color: rgb(164, 164, 197);}
}